.single_trip_request{
    width: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    background: #FFF;
    margin: 15px 0;
}

.single_trip_request.checked{
    opacity: 0.4;
}

.request_img{
    width: 8%;
    height: 80px;
}

.request_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.trip_names{
    margin-top: 10px !important;
    line-height: 10px;
    margin: 0 4%;
    width: 20%;
}

.request_options{
    position: absolute;
    right: 20px;
    display: flex;
    align-items: center;
}

.delete_button, .tick_button{
    background: orangered;
    color: #FFF;
    font-weight: 400px;
    outline: none;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    margin: 0 10px;
}

.tick_button{
    background: green;
}

@media screen and (max-width: 768px){
    .single_trip_request{
        height: 55px;
    }
    
    .request_img{
        width: 50px;
    }

    .trip_names{
        font-size: 6px !important;
        width: 28%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .title_3.small{
        font-size: 10px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .tick_button{
        width: 25px;
        height: 25px;
        margin: 0 0 0 3px;
    }

    .delete_button{
        width: 25px;
        height: 25px;
        margin: 0 3px 0 0;
    }

    .request_options{
        right: 10px;
        padding: 0;
    }
}