.all_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-items: center;
    row-gap: 20px;
}

.request_button{
    background: #F15A24;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    color: #FFF;
    text-transform: uppercase;
    padding: 7px 15px;
    font-size: 12px;
    font-weight: bold;
    outline: none;
}