.profile_cont{
    height: inherit;
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile_img{
    background: rgb(233, 233, 233);
    border: 1px solid rgb(150, 150, 150);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}

.profile_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-top: -25px;
}

.role_text{
    display: block;
    margin-top: -47px;
}

.profile_info{
    width: 70%;
    height: inherit;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: flex-end;
}

.logout_button{
    cursor: pointer;
    margin: 0px !important;
}

@media screen and (max-width: 768px){
    .profile_img{
        position: absolute;
        left: 0;
    }

    span.names{
        position: absolute;
        left: 50px;
        top: 0;
        width: 70%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    
    .role_text{
       display: none;
    }

    .profile_info{
        width: 100%;
        position: relative;
        justify-items: center;
    }
}