.navbar{
    width: 100%;
    height: inherit;
    display: flex;
    align-items: center;
    position: relative;
}

.brand_logo{
    height: inherit;
    display: flex;
    align-items: center;
}

.brand_logo img{
    width: 50px;
    padding-right: 4px;
}

@media screen and (max-width: 768px){
    .brand_logo{
        display: none;
    }
}