.trip_card{
    width: 300px !important;
    height: auto;
    border-radius: 20px;
    background: #FFF;
    overflow: hidden;
}

.card_cover{
    width: 100%;
    height: 150px;
    background: red;
}

.card_cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card_desc{
    padding: 4px 12px;
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
}

.card_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 70%;
}

.PENDING, .APPROVED, .REJECTED{
    color: #999;
    align-self: flex-end;
    position: absolute;
    right: 60px;
    top: 40px;
}

.REJECTED{
    color: red;
}

.ACCEPTED{
    color: green;
}

button.card_button{
    position: absolute;
    right: 12px;
    top: 35px;
    background: #F15A24 !important;
    border-radius: 6px;
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    color: #FFF;
    font-weight: bold;
}
