.super_admin_nav{
    background: #F15A24;
}

.super_admin_nav .menu{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    color: #FFF;
    font-weight: bold;
    gap: 40px;
}

.super_admin_nav .menu span{
    color: #FFF !important;
    border-radius: 2px;
    display: block;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase !important;
}

.super_admin_nav .menu span:hover, span.active{
    border-bottom: 3px solid #FFF;
}