.trip_admins{
    background: #FFF;
    border-radius: 20px;
    overflow: hidden;
}

.single_admin{
    padding: 20px 5px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    border-bottom: 1px solid rgb(209, 209, 209);
    width: 97%;
    margin: auto;
}

.request_options{
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
}

.trip_admin_profile{
    background: rgb(235, 235, 235);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 768px){
    .single_admin{
        height: 45px;
    }

    .trip_admin_profile{
        width: 30px;
        height: 30px;
    }

    .admin_name{
        width: 120px;
    }

    .title_4.small{
        font-size: 12px !important;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .bold.small{
        width: 38%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}