@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
	box-sizing: border-box;
	transition: 0.025s;
}

html{
  scroll-behavior: smooth;
}

body{
	font-family: Montserrat, sans-serif;
	font-size: 12px !important;
	font-weight: 400 !important;
	padding: 0 !important;
	margin: 0 !important;
	overflow-x: hidden !important;
	background: #FFFFFF;
}

a p{
  color: #000 !important;
}

/* Collors */
.color_orange{
  color: #F15A24 !important;
}

.color_blue{
  color: #002958 !important;
}

.color_black{
  color: #000000 !important;
}

.color_white_blue{
  color: #476587 !important;
}

.color_grey{
  color: #F1F8F9 !important;
}

.color_white{
  color: #FFFFFF !important;
}

.bg_orange{
  background: #F15A24 !important;
}

button{
  cursor: pointer;
}

/*Text colors*/
.text_black{
	color: #38393b !important;
}

.text_maroon{
	color: #b32253 !important;
}

.text_red{
	color: #e52660 !important;
}

.text_white_green{
	color: #c1cf16 !important;
}

.text_label{
	color: #b3b2b2 !important;
}

/*Backgrounds*/
.bg_black{
  background: #a5a5a5 !important;
}

.bg_white{
  background: #FFF !important;
}

.bg_deep_white{
  background: #eeeeee !important;
}

/*Typography*/
[class *= title_]{
	font-weight: 900 !important;
}

.title_1{
	font-size: 24px !important;
}

.title_2{
	font-size: 18px !important;
}

.title_3{
	font-size: 16px !important;
}

.title_4{
	font-size: 13px !important;
}

.text_info{
	font-size: 10px !important;
}

.text_lable{
	font-size: 11px !important;
}

.text_center{
  text-align: center;
}

input.input, span.input{
  width: 90% !important;
  height: 33px !important;
  display: block !important;
  margin: 3% auto !important;
  border-radius: 7px !important;
  background: #F1F8F9 !important;
  border: 1px solid #dde3e4 !important;
  outline: none !important;
  padding: 10px;
}

span.input{
  display: flex !important;
  align-items: center !important;
  overflow: hidden;
  padding-left: 0 !important;
}

span.input input{
  width: 90%;
  padding: 10px !important;
  height: inherit !important;
  border: none !important;
  background: inherit;
  outline: none !important;
}
.btn_primary{
  width: 90%;
  height: 33px;
  padding: 10px;
  display: block;
  margin: 4% auto;
  color: #FFF;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 4px;
}

.contents{
  width: 70%;
  min-height: 100vh !important;
  margin: 10px auto;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
}

.nav_header{
  background: #FFF !important;
  box-shadow: 0 2px 3px rgb(202, 202, 202);
}

.bold{
  font-weight: bold !important;
}

@media screen and (max-width: 768px) {
  .contents{
    width: 96%;
  }
}

.error_msg{
  color: maroon;
  font-weight: bold;
  padding-left: 15px;
}